body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #a4f4cc;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, select, button {
    display: block;
    margin: 10px auto;
    padding: 8px;
}

button {
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}

canvas {
    display: none;
}

